[submodule "src/mulinex_gazebo"]
	path = src/mulinex_gazebo
	url = https://github.com/CentroEPiaggio/mulinex_gazebo.git
[submodule "src/mulinex_description"]
	path = src/mulinex_description
	url = https://github.com/CentroEPiaggio/mulinex_description.git
[submodule "src/gazebo_models_worlds_collection"]
	path = src/gazebo_models_worlds_collection
	url = https://github.com/leonhartyao/gazebo_models_worlds_collection.git
[submodule "src/mulinex_ignition"]
	path = src/mulinex_ignition
	url = https://github.com/Cionix90/mulinex_ignition.git
[submodule "src/Pi3Hat_Controllers"]
	path = src/Pi3Hat_Controllers
	url = https://github.com/CentroEPiaggio/Pi3Hat_Controllers.git
[submodule "src/Omni_Mulinex_Joystic_OPC"]
	path = src/Omni_Mulinex_Joystic_OPC
	url = https://github.com/CentroEPiaggio/Omni_Mulinex_Joystic_OPC.git
